@Charset="UTF-8";

#divp{
	margin-top:50px;
	margin-left:30%;
	width:495px;
	height:320px;
	font-size:20px;
}

#topo {
	height:100px;
	background-color:#FFF;
	width:100%;	
}

body {
	background-color:LightSkyBlue;
	font-family:Lucida Fax;
	font-size:20px;
}
p#titulo {
	text-align:center;
	font-size:30px;
	font-family:Aharoni;
	color:LightSkyBlue;
	
}

input.caixa {
	height:30px;
}

#formu {
	margin:10px;
}
 #desc {
	 font-family:Arial;
	 font-size:14px;
 }